.createPlayerBox {
    padding: 20px;  
    border: 1px solid #ccc;  
    border-radius: 10px;  
    max-width: 600px;  
    margin: 20px auto;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);  
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    padding-left: 10px;
    background-color: #9de8ac;
}

textarea {
    border-radius: 8px;
    width: 100%;
    border: 1px solid transparent;
    font-size: 20px;
    background-color: #9de8ac;
}

label {
    font-size: 20px;
}

.submitButton {
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    background-color:  #404ad2;
    color:white;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 20px;
    margin-bottom: 50px;
}

