#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url('https://gallery.sailorsoapbox.com/albums/wallpapers/crystal/Moonrise.png');
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  color: rgb(4, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App h1 {
  position: absolute; 
  top: 2rem; 
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);  
  font-size: xx-large;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
